@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Rubik:wght@400;500;700&display=swap');
html , body{
    font-family: Rubik;
    background-color: rgba(250, 249, 246, 1);
    color: rgba(0, 0, 0, 1);
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font: 20px;
}
*{
    box-sizing: border-box;
}
.container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.top{
    flex: 1;
    padding: 1rem;
}

#text_swap{
    height: auto;
    width: 30%;
    align-items: center;
    padding-top: 2%;
    padding-left:2%;
    color: rgba(0, 0, 0, 1);
    font-family: Quicksand;
}   
.text_first,.text_second{
    position:absolute;
 
    opacity: 0;
    white-space: nowrap;
}
.text_first{
    animation: slideout 6s ease-in-out forwards;
    font-size: clamp(32px,5vw,64px);
}
.text_second{
    animation: slidein 6s ease-in-out forwards;
    animation-delay: 3s;
}

@keyframes slideout{
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    50% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}
@keyframes slidein {
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    10%{
        transform: translateX(0);
        opacity: 1;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
#hero_image{
    height: auto;
    width: 40%;
}
#hero_image img{
    height: auto;
    width: 100%;
    align-items: center;
}
nav{
    height: auto;
    width: 30%;
    position: relative;
    align-items: center;
    
}
nav ul{
    list-style: none;
    padding-left: 5%;
    white-space: nowrap;
}
nav ul li{
    display: inline-block;
    font-size: clamp(12px,24px);
    padding: 2rem;
}
nav ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 1);;
}
.top p{
    margin-top: 60%;
    margin-left: 5%;
    padding-left: 10%;
    border-left: 5px solid rgba(163, 196, 243, 1);
}
@media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
    .top{
        width: 100%;
    }
}