@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Rubik:wght@400;500;700&display=swap');
html{
    font-family: Rubik;
    background-color: rgba(250, 249, 246, 1);
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    height: auto;
    width: 100%;
}
body{
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
.top{
    flex: 1;
    
}
.container{
    display: flex;
    flex-direction: row;
    height: auto;
    
}

.hero_banner{
    width: 100%;
    height: auto;
}
#text_swap{
    float: left;
    position: relative;
    width: 30%;
    height: auto;
    overflow: hidden;
    font-family: Quicksand;
    font-weight: bold;
}
.text_first,.text_second{
    position:absolute;
 
    opacity: 0;
    white-space: nowrap;
}
.text_first{
    animation: slideout 6s ease-in-out forwards;
    font-size: clamp(32px,5vw,64px);
}
.text_second{
    animation: slidein 6s ease-in-out forwards;
    animation-delay: 3s;
}

@keyframes slideout{
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    50% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}
@keyframes slidein {
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    10%{
        transform: translateX(0);
        opacity: 1;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
#hero_image{
    background-image: url("Images/sus_transparent (1).png");
    width: 40%;
}
nav{
    height: auto;
    width:30%;
    font-size: clamp(12px,5vw,24px);
    float: right;
    
    white-space: nowrap;
}
nav ul{
    list-style: none;   
    position: relative;
    width: inherit;
   
}
nav ul li{
    
    display:inline-block;
    padding-inline: 1rem;
}
nav ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}
@media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
}
/* {
    outline: 1px solid red;
  }
  */